.jimu-widget-drawpolygon{
	border-radius: 5px;
	background-color: rgba(0,13,33,0.2);
	border: 1px solid #999;
}

.jimu-widget-drawpolygon.onCenter {
	background-color: #000;
}

.jimu-widget-drawpolygon .place-holder {
	padding: 2px;
	width: 30px;
	height: 30px;
	background-color: #555;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-image: url("images/drawpolygon.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.jimu-widget-drawpolygon .place-holder.locating{
	background-image: url("images/loading.gif");
}

.jimu-widget-drawpolygon .place-holder.tracking{
	background-image: url("images/stop.png") !important;
	background-color: #000;
}
.jimu-widget-drawpolygon .place-holder.nohttps{
	background-image: url("images/locate_disabled.png") !important;
}
.jimu-widget-drawpolygon .place-holder.nohttps:hover{
	background-color: #555;
}

.jimu-widget-drawpolygon .place-holder.nohttps,
.jimu-widget-drawpolygon .place-holder{
  background-color: rgba(0,13,33,0.2);
}

.jimu-widget-drawpolygon.onLocate .place-holder{
	background-color: rgba(0,0,0,0.4);
}

.jimu-widget-drawpolygon.onCenter .place-holder{
	background-color: #000;
}

.jimu-widget-drawpolygon .place-holder:hover{
  background-color: #333;
}

/* .myButton {
	padding: 7px 7px 7px 7px; 
	background-image: url(images\send.png); 
} */

.dijitReset.dijitInline.dijitButtonNode{
	background-image: url("images/send2.png") !important;
	background-repeat: round;
	height: 30px;
	width: 30px; 
	padding: 6px 4px 4px 4px;
	border-radius: 0px;
}