#main-loading{
	background-color:rgba(0,13,33);
	position:relative;
}
#main-loading #app-loading{
	position: absolute;
	background-repeat: no-repeat;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#main-loading #loading-gif{
	position: absolute;
	background-image: url('images/logo.gif');
	background-repeat: no-repeat;
	width:750px;
	height:350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
